@use '/home/hal/.cache/wal/colors.scss' as *;

$fg: $foreground;
$bg: rgba($background, 0.85);
$bg-solid: $background;
$bg-hover: rgba($color2, 0.4);

$c1: $color1;
$c2: $color2;
$c3: $color3;
$c4: $color4;
$c5: $color5;
$c6: $color6;
$c7: $color7;
$c8: $color8;

// Holistic reset for all widgets to match Pywal theme
* {
  color: $fg;
  font-family: "FiraCode Nerd Font", sans-serif;
}
