@use '/home/hal/.cache/wal/colors.scss' as *;

$fg-color: $foreground;
$bg-color: rgba($background, 0.85);

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    margin: 8px;
  }

  button {
    background: $bg-color;
    border-radius: 12px;
    padding: 2px 14px;
    margin: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    transition: all 0.3s ease;

    &:hover {
      background: rgba($color2, 0.4);
    }
  }

  .theme-btn {
    color: $color8;
  }

  .clock-btn {
    color: $color2;
  }

  .right-modules {
    margin-right: 8px;
  }

  .theme-switcher-box {
    margin-right: 12px;
  }
}

window.Calendar {
  background: transparent;
  color: $fg-color;

  > box {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;
    margin-top: 0px; // assuming it is below the bar
    padding: 10px;
  }
}
